@using MyTasks.Localization.Desktop
@model IEnumerable<MyTasks.Domain.DataContracts.UserDTO>

@{
    ViewBag.Title = Desktop.UserAdminList;
}
<br/>


@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20);
    grid.Pager(WebGridPagerModes.All);
}

<div style="margin-top: 20px" class="well bs-component">
    
    <p>
        @Html.ActionLink(@Desktop.Create, "Create")
    </p>

    @grid.GetHtml(tableStyle: "table table-condensed GridView",
        headerStyle: "GridViewHeader",
        alternatingRowStyle: "GridViewRow",
        selectedRowStyle: "GridViewRow",
        columns: grid.Columns(
            grid.Column("UserName", @Desktop.UserName),
            grid.Column("Email", @Desktop.Email),
            grid.Column("RoleName", @Desktop.Role),
            grid.Column(header: " ", format: (item) =>
                new HtmlString(
                    Html.ActionLink(@Desktop.Edit, "Edit", new {id = item.Id}).ToString() + "  |" +
                    Html.ActionLink(@Desktop.Delete, "Delete", new {id = item.Id}).ToString() + " | " +
                    Html.ActionLink(@Desktop.ResendPassword, "SendPassword", new {id = item.Id}).ToString())
                )
            )
        )

</div>


