@using MyTasks.Localization.Desktop
@model MyTasks.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = @Desktop.ForgotYourPasswordTitle;
}


<div style="margin-top: 20px" class="well bs-component">
    @using (Html.BeginForm("SendPassword", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            <label class="col-md-1 control-label">
                @Desktop.Email
            </label>
            <div class="col-md-2 control-label">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button name="button" value="send" id="submit" class="btn btn-primary">@Desktop.Send</button>
            </div>
        </div>
        @Html.HiddenFor(model => model.Email)
    }
</div>

@section Scripts {
     @Scripts.Render("~/bundles/jqueryval")
}
