@using System.Globalization
@using System.Threading
@model MyTasks.Web.Models.ProfileViewModel
@using MyTasks.Localization.Desktop

@{
    ViewBag.Title = Desktop.UserSettings;
}
<div>
    <h4>@Desktop.ChangeYourSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Desktop.Password:</dt>
        <dd>
            [@Html.ActionLink(@Desktop.ChangeYourPassword, "ChangePassword")]
        </dd>
        <dt>@Desktop.Language: </dt>
        <dd>
            <ul>
                @{
                    <li>@Html.ActionLink("Español", "ChangeCurrentCulture", new { culture = "es-cl" })</li>
                    <li>@Html.ActionLink("English", "ChangeCurrentCulture", new { culture = "en-us" })</li>
                }
            </ul> 
        </dd>
    </dl>
</div>
