@using MyTasks.Localization.Desktop
@model MyTasks.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Desktop.ForgotYourPassword;
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

<div class="container">
    <div class="Absolute-Center is-Responsive">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="login-wrap">
                    <div class="input-group">
                        <span>@Desktop.PleaseTypeYourMail</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">@Desktop.Submit</button>
                    <div class="form-group">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
     @Scripts.Render("~/bundles/jqueryval")
}
